:host{
    background: var(--dark-color);
    color: var(--front-white-color);
    padding: 57px 63px 106px 64px;
    height: 337px;
}

.sentense-title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
}
.sentence-text{
    margin-bottom: 48px;
    font-size: 15px;
    font-size: 18px;
    line-height: 18px;
}

.sentence-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sentence-link{
    padding: 10px 60px;
    border-color: var(--green-color);
    color: var(--green-color);
}
@media (max-width: 768px) {
    :host {
        padding: 40px 6px;
        height: unset;
    }
    .sentense-title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .sentence-text{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 17px;
    }
    .sentence-link{
        width: calc(100% - 15px);
        height: 58px;
        padding: unset;
        display: block;
        margin: 0 4px 0 11px;
    }
    .sentence-link-a {
        text-decoration: none;
        width: 100%;
        display: block;
    }
}
@media (max-width: 992px) {
    /* .sentence-link {
        padding: 18px 25px;
    } */
}