:host{
    background: var(--dark-color);
    color: var(--front-white-color);
    padding: 57px 63px 106px 64px;
    height: 337px;
}

.sentense-title{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
}

.sentence-text{
    margin-bottom: 48px;
    font-size: 15px;
    font-size: 18px;
    line-height: 18px;
}

.sentence-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sentence-link{
    padding: 10px 60px;
    border-color: var(--green-color);
    color: var(--green-color);
}

.sentence-link a{
    color: var(--green-color);
    text-decoration: none;
}

@media (max-width: 768px) {
    :host {
        padding: 40px 10px;
    }
}
@media (max-width: 992px) {
    .sentence-link {
        padding: 18px 25px;
    }
}