<footer>
    <div class="container">
        <div class="footer-block lists-block">
            <ul>
                <a *ngFor="let record of list1" href="{{record.link}}"><li>{{record.text}}</li></a>
            </ul>
            <ul>
                <a *ngFor="let record of list2" href="{{record.link}}"><li>{{record.text}}</li></a>
            </ul>
            <ul>
                <a *ngFor="let record of list3" href="{{record.link}}"><li>{{record.text}}</li></a>
            </ul>
        </div>
        <div class="footer-block support-block">
            <ul class="subscriber-list">
                <li>Абонентский отдел</li>
                <a *ngFor="let sub of subscriber_list" href="tel: {{sub.tel}}"><li><img src="../../assets/icons/telepgone.svg">{{sub.text}}</li></a>
            </ul>
            <ul class="technical-list">
                <li>Техподдержка</li>
                <a *ngFor="let tech of tech_sup_list" href="tel: {{tech.tel}}"><li><img src="../../assets/icons/telepgone.svg">{{tech.text}}</li></a>
            </ul>

            <div class="social-list">
                <a *ngFor="let social of social_list" href="{{social.link}}">
                    <i>
                        <fa-icon [icon]="social.icon"></fa-icon>
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="container documents-container">
        <a class="documents-link" href="">О компании</a>
        <a class="documents-link" href="">О компании</a>
        <a class="documents-link" href="">О компании</a>
        <a class="documents-link" href="">О компании</a>
    </div>
    <div class="copyright-box">
        <div class="container">
            © Формат ㉔. Все права защищены 2021
        </div>
    </div>
</footer>