nav ul {
    display: flex;
}
nav li {
    list-style-type: none;
}
nav a {
    padding: 10px;
    margin-right: 10px;
}
a {
    color: var(--front-white-color);
    text-decoration: none;
}
:host {
    display: flex;
}