:host {
    display: flex;
    align-self: stretch;
}
nav {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    font-size: 16px;
    margin: 0;
}
nav li {
    list-style-type: none;
}
nav a {
    padding: 10px;
    margin-right: 10px;
}
a {
    color: var(--front-white-color);
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 193px;
    height: 43px;
}
@media (max-width: 1200px) {
    .logo{
        width: 200px;
    }
    nav ul {
        padding-left: 10px;
    }
}
@media (max-width: 992px) {
    .logo{
        width: 140px;
    }
}