@keyframes Tada {
    10%,
    20% {
        transform: rotate(-5deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: rotate(5deg);
    }
    40%,
    60%,
    80% {
        transform: rotate(0) scale(1.1);
    }
    100% {
        transform: rotate(0);
    }
}
img {
    width: 16px;
    height: 20px;
    animation-name: Tada;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
button {
    animation-name: Tada;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}