<section>
    <div class="container">
        <div class="info-box">
            <h3>КИНОЗАЛ НА ВСЕХ УСТРОЙСТВАХ</h3>
            <p>Ищите наше приложение на своем Smart TV, планшете
            и смартфоне и смотрите ТВ и кино везде, где вам удобно.</p>
            <a href="#">
                <img src="" alt="">
            </a>
            <a href="#">
                <img src="" alt="">
            </a>

            <img class="devices-section-image" src="../../assets/images/devices-section-img.png" alt="">
        </div>
    </div>
</section>

