section {
    background: var(--dark-color);
    overflow: hidden;
}

:host {
    color: var(--front-white-color);
}

.container {
    padding-top: 166px;
    padding-bottom: 225px;
}
.devices-section-image{
    position: absolute;
    left: 80%;
    top: 70%;
    transform: translateY(-50%);
}
.info-box{
    width: 54%;
    display: flex;
    flex-direction: column;
    position: relative;
}
h3 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 22px;
}
p {
    font-size: 24px;
    line-height: 28px;
}
.devices-links{
    margin-top: 40px;
    display: flex;
}
.device-link{
    margin-right: 51px;
}
.mobile-acitve {
    display: none;
}
@media (max-width: 768px) {
    .mobile-acitve {
        display: unset;
    }
    .container {
        padding-top: 40px;
        padding-bottom: 0;
    }
    h3 {
        margin-bottom: 320px;
        text-align: left;
        font-size: 24px;
        line-height: 28px;
    }
    .devices-section-image{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -5%;
        width: 500px;
        height: 500px;
    }
    .info-box {
        width: 100%;
    }
    p {
        display: none;
    }
    .devices-links{
        margin: 40px auto;
        flex-direction: column;
    }

    .device-link{
        display: inline-block;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
    }
}

