<section>
    <div class="container">
        <div class="info-box">
            <h3 i18n>КИНОЗАЛ НА ВСЕХ УСТРОЙСТВАХ</h3>
            <p i18n>Ищите наше приложение на своем Smart TV, планшете
            и смартфоне и смотрите ТВ и кино везде, где вам удобно.</p>
            <div class="devices-links">
                <a class="device-link" href="#">
                    <img src="../../assets/images/devices-section-smart.png" alt="">
                </a>
                <a class="device-link" href="#">
                    <img src="../../assets/images/devices-section-android.png" alt="">
                </a>
            </div>

            <img class="devices-section-image" src="../../assets/images/devices-section-img.png" alt="">
        </div>
    </div>
</section>

