
a {
    color: var(--front-white-color);
    text-decoration: none;
}
header {
    padding: 5px 0;
    height: 100%;
}

:host {
    display: block;
    background: rgba(0, 15, 16, 0.7);
}
.container {
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}
@media (min-width: 768px) {
    app-burger-menu {
        display: none;
    }
}