<header>
    <div class="container">
        <app-burger-menu (onActiveChange)="_onMobileNavActiveChange($event)"></app-burger-menu>
        <div *ngIf="is_mobile_nav_active; then local_tel; else content"></div>
        <ng-template #content>
            <ng-content></ng-content>
        </ng-template>
        <ng-template #local_tel>
            <div class="localization-box">
                <a href="">UA</a>
                <a href="">RU</a>
            </div>
            <a href="">
                Tel
            </a>
        </ng-template>
    </div>
</header>