<header>
    <div class="container">
        <app-burger-menu (onActiveChange)="_onMobileNavActiveChange($event)"></app-burger-menu>
        <div *ngIf="is_mobile_nav_active; then local_tel; else content"></div>
        <ng-template #content>
            <ng-content></ng-content>
            <app-hiding-search></app-hiding-search>
        </ng-template>
        <ng-template #local_tel>
            <div class="mobile-login-localization">
                <app-localization-select></app-localization-select>
                <a href="">
                    Войти
                </a>
            </div>
        </ng-template>
    </div>
</header>