
a {
    color: var(--front-white-color);
    text-decoration: none;
}
header {
    height: 100%;
}

:host {
    display: block;
    background: rgba(0, 15, 16, 0.7);
    color: var(--front-white-color);
}
.container {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    flex-wrap: nowrap;
}
.mobile-login-localization{
    display: flex;
}
.mobile-login-localization app-localization-select{
    margin-right: 30px;
}
@media (min-width: 992px) {
    app-burger-menu {
        display: none;
    }
    app-hiding-search {
        display: none;
    }
}