 <app-header
            [style.height.px]='62'
            (onMobileNavActiveChange)="onMobileNavActiveChange($event)"
            [ngClass]="{mobile: isMobile}">

    <div *ngIf="isMobile; then mobileBlock; else desktopBlock"></div>
    <ng-template #desktopBlock>
        <app-header-nav [nav_menu]='nav_menu'></app-header-nav>
    </ng-template>
    <ng-template #mobileBlock>
        <app-mobile-header-nav class="header-nav">
            <ng-template [ngIf]="!show_mobile_nav">
                <app-mobile-header-search [style.width.%]="100" class="header-nav"></app-mobile-header-search>
            </ng-template>
            <ng-template [ngIf]="show_mobile_nav">
                <app-localization-select></app-localization-select>
            </ng-template>
        </app-mobile-header-nav>
    </ng-template>

</app-header>

<div *ngIf="isMobile" [style.height.px]="62"></div>

<div *ngIf="isMobile; else searchSection"></div>
<ng-template #searchSection>
    <app-search-section>
        <nav class="search-section-list">
            <app-addition-nav-items [items]='addition_nav_menu'></app-addition-nav-items>
        </nav>
    </app-search-section>
</ng-template>

<ng-template #mobileMenuTemp>
    <nav>
        <app-addition-mobile-nav-items (onNavigate)="show_mobile_nav = false" [items]='addition_nav_menu'></app-addition-mobile-nav-items>
    </nav>
    <nav class="mobile-panel-nav">
        <img class="mobile-panel-nav-img" src="../../assets/images/logo.png" alt="">
        <app-mobile-panel-nav-items [items]='nav_menu'></app-mobile-panel-nav-items>
    </nav>
    <app-social-icons-list></app-social-icons-list>
</ng-template>
