
<ng-template #lists_component>
    <mat-button-toggle-group class="lists lists-box-group" [(value)]="selectedList" (change)="onListChange($event.value)">
        <mat-button-toggle *ngFor="let item of lists" [value]="item">{{item.text}}</mat-button-toggle>
    </mat-button-toggle-group>
</ng-template>

<div class="container">
    <h2 class="movies-title" i18n>Фильмы</h2>
</div>

<section class="control-section">
    <ng-template [ngIf]="!isMobile">
        <div class="container control-panel">
            <div class="lists-box panel-item">
                <ng-template [ngTemplateOutlet]='lists_component'></ng-template>
            </div>
            <div class="panel-item genres-list" (click)="enableAutocomplete($event)">
                <mat-form-field appearance="fill"
                (focusin)="active_genre_autocomplete = true"
                >
                    <input
                        type="text"
                        matInput
                        autocomplete="false"
                        [formControl]="genresFormControl"
                        [ngModel]="selectedGenre.title"
                        class="selected-genre-input"
                        >
                        <!-- [ngModel]="selectedGenre" -->
                        <!-- [matAutocomplete]="genres_auto" -->
                    <span matSuffix>
                        <app-arrow-down></app-arrow-down>
                    </span>

                    <app-autocomplete
                        class="genres_autocomplete"
                        *ngIf="active_genre_autocomplete"
                        >
                        <mat-selection-list role="list" 
                            [multiple]="false"
                            (selectionChange)="onGenreChanged($event.option.value)"
                            >
                            <mat-list-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                                {{genre.title}}
                            </mat-list-option>
                        </mat-selection-list>
                    </app-autocomplete>
                    
                    <!-- <mat-autocomplete autoActiveFirstOption [displayWith]="genreDisplay" (optionSelected)="onGenreChanged($event.option.value)"
                        #genres_auto="matAutocomplete">
                        <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                            {{genre.title}}
                        </mat-option>
                    </mat-autocomplete> -->
                    <!-- <mat-select [style.width.px]='155' [(value)]="selectedGenre" [style.text-align]="'center'" (selectionChange)="onGenreChanged($event.value)">
                    </mat-select> -->
                </mat-form-field>
            </div>
            <div class="panel-item sorts-box">
                <mat-button-toggle-group class="lists" [(value)]="selectedSort" (change)="onSortChange($event.value)">
                    <mat-button-toggle *ngFor="let sort of sorts" [value]="sort">{{sort.title}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="isMobile">
        <button 
            mat-flat-button 
            (click)="openMobileFilters()"
            class="app-btn filters-btn"
            i18n
            >Фильтры</button>
    </ng-template>

    <ng-template #mobile_header>
        <div>
            <button mat-button i18n (click)="closeMobileFilters()">Фильтры</button>
            <button mat-button i18n (click)="toDefaultFilters()">Очистить</button>
        </div>
    </ng-template>

    <ng-template #mobile_filters>
        <div class="slidenav-menu">
            <div class="slidenav-lists-box">
                <ng-template [ngTemplateOutlet]="lists_component"></ng-template>
            </div>
            <h3 i18n>Сортировать</h3>
            <app-mobile-slider [items]="sorts" [(selected)]="selectedSort" (selectedChange)="onSortChange($event)"></app-mobile-slider>
            <h3 i18n>Жанры</h3>
            <mat-selection-list [multiple]="false" (selectionChange)="onGenreChanged($event.option.value)">
                <mat-list-option *ngFor="let genre of genres" [value]="genre" [selected]="genre == selectedGenre">
                    {{genre.title}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </ng-template>

    
</section>
<section>
    <div class="container">
        <app-movies-section [style.width.%]="100" [genre]="selectedGenre"></app-movies-section>
    </div>
</section>
