.control-section {
    margin-bottom: 100px;
}
.control-panel{
    /* height: 120px; */
    align-items: stretch;
}
.lists-box {
    padding: 0 26px;
    margin-right: 40px;
}
.panel-item {
    height: 120px;
    display: flex;
    align-items: center;
    border-right: 3px solid rgba(50, 50, 50, 1);
    border-left: 3px solid rgba(50, 50, 50, 1);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff0;
}
::ng-deep .mat-select-arrow {
    color: #ffff;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0) !important;
}
::ng-deep mat-button-toggle-group.lists-box-group .mat-button-toggle-label-content {
    line-height: 37px;
}
mat-button-toggle-group.lists-box-group {
    border-radius: 0;
    border: 1px solid var(--green-color)
}
mat-button-toggle-group.lists-box-group .mat-button-toggle-appearance-standard {
    background: transparent;
    transition: .2s all;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-left: none;
}

mat-button-toggle-group.lists-box-group .mat-button-toggle-checked {
    background: var(--green-color);
}
.sorts-box mat-button-toggle-group{
    border-radius: 0;
    width: 100%;
    border: none;
}
.sorts-box mat-button-toggle-group,
.sorts-box mat-button-toggle,
.sorts-box .mat-button-toggle-button {
    height: 100%;
}
.sorts-box mat-button-toggle{ 
    flex-grow: 1;
}
::ng-deep .mat-button-toggle-button {
    height: 100%;
}
::ng-deep .sorts-box mat-button-toggle.mat-button-toggle-checked .mat-button-toggle-label-content{
    color: var(--green-color);
}
.sorts-box .mat-button-toggle-appearance-standard {
    background: transparent;
}
.sorts-box {
    flex-grow: 1;
}
@media (min-width: 992px) {
    .genres-list {
        border-right: none;
    }
}

@media (max-width: 1200px) {
    .panel-item {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lists-box {
        margin-right: 0;
    }
}
@media (max-width: 1200px) and (min-width: 768px) {
    .lists-box {
        border-right: none;
    }
}
@media (max-width: 992px) {
    .sorts-box {
        border-top: 3px solid rgba(50, 50, 50, 1);
    }
}
@media (max-width: 768px) {
    .genres-list {
        border-top: 3px solid rgba(50, 50, 50, 1);
    }
    .lists-box {
        padding-left: 0;
        padding-right: 0;
    }
    .control-section{
        margin-bottom: 30px;
    }
}
@media (min-width: 768px) {
    .control-section {
        background: var(--dark-color);
    }
}

.filters-btn{
    padding: 18px 60px;
    line-height: unset;
    margin: 0 auto;
    display: block;
}
.slidenav-menu{
    padding: 30px 20px;
}
.slidenav-lists-box {
    margin-bottom: 18px;
}
.slidenav-menu app-mobile-slider {
    margin-bottom:  18px;
    display: block;
}