app-sentence-block {
    width: 49%;
    margin-bottom: 50px;
}
.sentence-block-margin {
    margin-right: 40px;
}
.sentence-section{
    margin-top: var(--section-margin);
    margin-bottom: 60px;
}
.sentence-section .extented-container {
    align-items: stretch;
}
.tag-slider-section {
    background: var(--dark-color);
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
    margin-bottom: var(--section-margin);
}
.extented-container{
    flex-wrap: nowrap;
}

@media (max-width: 769px) {
    app-sentence-block {
        width: 100%;
    }
    app-sentence-block:last-child {
        margin-bottom: 0;
    }
    .sentence-block-margin {
        margin-right: 0;
    }
    .extented-container {
        padding: 0 10px;
    }
    .tag-slider-section{
        display: none;
    }
}
.genre-slider {
    margin-bottom: var(--section-margin);
}
.genre-slider.last {
    margin-bottom: 25px;
}
.genres-container {
    flex-direction: column;
    margin-bottom: var(--section-margin);
}
.genres-next-button {
    align-self: center;
}
.genres-slider-section {
    overflow: hidden;
}