.app-input {
    border: 1px solid var(--gray2-color);
    padding: 15px 10px;
    background: transparent;
    color: var(--gray2-color);
    border-radius: 5px;
    outline: none;
    font-weight: 700;
}