<a *ngIf="!item.menu" [href]="item.link" class="nav-item" >
    <span>
        {{item.text}}
    </span>
</a>

<a *ngIf="item.menu" class="nav-item" (click)="show_menu = !show_menu">
    <span>
        {{item.text}}
    </span>
    <img class="arrow-icon" src="../../../../assets/icons/nav-arrow.svg" alt="">
</a>

<div *ngIf="item.menu && show_menu" class="show-menu">
    <a *ngFor="let menu_item of item.menu" [href]="menu_item.link" class="show-menu-item">
        <img *ngIf="menu_item.icon" [src]="menu_item.icon" alt="">
        <p>{{menu_item.text}}</p>
    </a>
</div>

<div *ngIf="item.menu && show_menu" class="show-menu-bg" (click)="show_menu = false"></div>