ul {
  display: flex;
}
li {
  list-style-type: none;
}
a, .with-menu {
  padding: 10px;
  margin-right: 10px;
}
a {
  color: var(--front-white-color);
  text-decoration: none;
}
:host {
  display: flex;
}

li.menu-item-children {
  /* position: relative; */
  display: flex;
  align-items: center;
}

li.menu-item-children img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  transition: .4s;
}

li.menu-item-children img.arrow-top {
  transform: rotate(180deg);
}
.sg-vertical-sub-menu{
  background-color: black;
}

.child-menu-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.child-menu-item img {
  width: 100% !important;
}

.child-menu-item-link {
  color: rgb(255, 255, 255);
}

::ng-deep .customize {
  background: #757575;
}
