<ngx-slick-carousel class="carousel"
        [config]="sliderConfig"  
        #slickModal="slick-carousel">
        <div ngxSlickItem *ngFor="let item of slides">
            <app-tag-slide [item]="item" [style.margin]="'0 auto'">
            </app-tag-slide>
        </div>
</ngx-slick-carousel>
<div class="container arrows-container">
    <!-- <fa-icon [icon]="left_arrow_icon" class="tag-slider-prev-arrow"></fa-icon> -->
    <app-arrow-left class="tag-slider-prev-arrow"></app-arrow-left>
    <app-arrow-right class="tag-slider-next-arrow"></app-arrow-right>
    <!-- <fa-icon [icon]="right_arrow_icon" class="tag-slider-next-arrow"></fa-icon> -->
</div>