<ngx-slick-carousel class="carousel"
        [config]="sliderConfig"  
        #slickModal="slick-carousel">
        <div *ngFor="let item of slides" class="slide">
            <app-tag-slide ngxSlickItem [item]="item" [style.margin]="'0 auto'">
            </app-tag-slide>
        </div>
</ngx-slick-carousel>
<div class="container tag-arrows-container">
    <app-arrow-left class="tag-slider-prev-arrow"></app-arrow-left>
    <app-arrow-right class="tag-slider-next-arrow"></app-arrow-right>
</div>