:host {
    position: relative;
}
.tag-arrows-container {
    position: absolute;
    top: 50%;
    color: var(--green-color);
    z-index: 1;
}
.tag-slider-next-arrow,
.tag-slider-prev-arrow{
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
}
.tag-slider-prev-arrow{
    left: 0;
    transform: translateX(-50%);
}
.tag-slider-next-arrow{
    right: 0;
    transform: translateX(10%);
}

::ng-deep .slide.slick-active a {
    opacity: 1;
    cursor: pointer;
}
::ng-deep .slide.slick-active a:hover {
    color: var(--green-color);
}

::ng-deep .slide.slick-active a:hover::after,
::ng-deep .slide.slick-active a:hover::before {
    background: var(--green-color);
    box-shadow: 0px 0px 35.3108px rgba(0, 249, 12, 0.244404), 0px 0px 18.7533px rgba(0, 249, 12, 0.29473), 0px 0px 7.80366px rgba(0, 249, 12, 0.7);
}

::ng-deep .slide.slick-active a:active::after,
::ng-deep .slide.slick-active a:active::before {
    background: var(--green2-color);
    box-shadow: 0px 0px 35.3108px rgba(0, 249, 12, 0.244404), 0px 0px 18.7533px rgba(0, 249, 12, 0.29473), 0px 0px 7.80366px rgba(0, 249, 12, 0.7), 0px 0px 0px 1px inset var(--green-color);
}