<section>
    <div class="container">
        <div class="movie-page-banner">
            <div class="frame-preview">
                <img *ngIf="frame_preview" [src]="frame_preview" alt="">
            </div>
            <div class="movie-page-banner-title-box">
                <div class="banner-image">
                    <img [src]="movie?.image" alt="">
                    <h2 class="mobile-movie-title">{{movie?.title}}</h2>
                </div>
                <div class="movie-page-banner-title">
                    <h2 class="movie-title">{{movie?.title}}</h2>
                    <a [href]="'https://megogo.net/ru/view/'+movie?.megogo_id">
                        <button class="watch-btn" mat-flat-button i18n>
                            Смотреть
                        </button>
                    </a>
                    <!-- <a [href]="'https://megogo.net/ru/view/'+movie?.megogo_id">
                        <button class="watch-btn" mat-flat-button i18n>
                            Смотреть
                        </button>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tabs-section">
    <div *ngIf="movie" class="container">
        <mat-tab-group class="movie-description" dynamicHeight>
            <mat-tab>
                <ng-template mat-tab-label i18n>
                    <span class="tab-label">
                        Описание
                    </span>
                </ng-template>
                <app-movie-info [movie]="movie"></app-movie-info>
            </mat-tab>
            <mat-tab *ngIf="movie.gallery && movie.gallery.length > 0">
                <ng-template mat-tab-label i18n>
                    <span class="tab-label">
                        Кадры
                    </span>
                </ng-template>
                <div class="gallery-container">
                    <img class="gallery-img" *ngFor="let url of movie.gallery" [src]="url" alt="">
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>