:host {
    color: var(--front-white-color);
    width: 180px;
    display: block;
}
.banner-preview-img{
    width: 100%;
}
.banner-text{
    color: var(--gray2-color);
    font-size: 12px;
}
.banner-title{
    margin-bottom: 1px;
}