section {
    border-top: 1px solid var(--green-color);
    border-bottom: 1px solid var(--green-color);
}
.search-login-box{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}
.container {
    justify-content: space-around;
}
.search-login-box a {
    color: var(--front-white-color);
    text-decoration: none;
}

