<section>
    <div class="container">
        <nav>
            <a href="">Новинки</a>
            <a href="">Новинки</a>
            <a href="">Новинки</a>
            <a href="">Новинки</a>
            <a href="">Новинки</a>
            <a href="">Новинки</a>
        </nav>
        <div class="search-login-box">
            <div class="search-box">
                <img src="../../assets/icons/search.svg" alt="">
                <input type="text" placeholder="Поиск">
            </div>
            <a href="">Войти</a>
        </div>
    </div>
</section>