
<ng-template #content>
    <router-outlet>
    </router-outlet>
    
    <app-section-footer></app-section-footer>
</ng-template>

<app-header-section></app-header-section>
<mat-sidenav-container>
    <mat-sidenav opened [style.width.vw]='100'>
        <ng-template #test_template>
            <div>fhudsihfsdouhfdispfa</div>
        </ng-template>
        <div (click)="test()">next</div>
        <div (click)="test1()">pop</div>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-template [ngTemplateOutlet]='content'></ng-template>
    </mat-sidenav-content>
  </mat-sidenav-container>