.mat-drawer {
    background: #00181C;
}
mat-sidenav-content {
    background: #00181C;
}
mat-sidenav{
    padding: 9px 17px;
}
app-devices-applications-section {
    margin-bottom: var(--section-margin);
    display: block;
}
app-bonus-section {
    margin-bottom: var(--section-margin);
    display: block;
}