<app-main-slider></app-main-slider>

<div class="container">
    <app-sentence-block
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus pariatur reprehenderit quidem unde facere officia."
        text="Lorem ipsum dolor sit amet."
        link_text="Lorem, ipsum dolor."
        href="#"
        [style.width]="'50%'"
        [style.margin-right]="'40px'"
    >
    </app-sentence-block>

    <app-sentence-block
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus pariatur reprehenderit quidem unde facere officia."
        text="Lorem ipsum dolor sit amet."
        link_text="Lorem, ipsum dolor."
        href="#"
        [style.width]="'50%'"
    >
    </app-sentence-block>  
</div>
