<ngx-slick-carousel
    [style.height.px]="348"
    [config]="sliderConfig"
    #slickModal="slick-carousel">
    <div ngxSlickItem 
        *ngFor="let movie of movies" class="slide"> 

        <app-movie-element [movie]="movie"></app-movie-element>
    </div>
</ngx-slick-carousel>
<div class="container banners-arrows-container" [id]="controll_id">
    <app-arrow-left class="banners-slider-prev-arrow" [id]="controll_id"></app-arrow-left>
    <app-arrow-right class="banners-slider-next-arrow" [id]="controll_id"></app-arrow-right>
</div>