:host {
    max-width: 284px;
    height: 153px;
    display: block;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--front-white-color);
    transition: .2s all;
}

a::before,
a::after {
    content: '';
    transition: inherit;
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background: #323232;
}
a::after {
    right: 0;
}
a::before {
    left: 0;
}

a:hover {
    color: var(--green-color);
}

a:hover::after,
a:hover::before {
    background: var(--green-color);
    box-shadow: 0px 0px 35.3108px rgba(0, 249, 12, 0.244404), 0px 0px 18.7533px rgba(0, 249, 12, 0.29473), 0px 0px 7.80366px rgba(0, 249, 12, 0.7);
}

a:active::after,
a:active::before {
    background: var(--green2-color);
    box-shadow: 0px 0px 35.3108px rgba(0, 249, 12, 0.244404), 0px 0px 18.7533px rgba(0, 249, 12, 0.29473), 0px 0px 7.80366px rgba(0, 249, 12, 0.7), 0px 0px 0px 1px inset var(--green-color);
}

@media (min-width: 1400px) {
    :host {
        max-width: 270px;
    }
}
@media (max-width: 1400px) {
    :host {
        max-width: 250px;
    }
}
@media (max-width: 992px) {
    :host {
        max-width: 210px;
    }
}
@media (max-width: 768px) {
    :host {
        max-width: 110px;
        height: 140px;
    }
}