:host {
    max-width: 284px;
    height: 153px;
    display: block;
    cursor: pointer;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 18px;
    color: var(--front-white-color);
    opacity: .5;
    transition: .2s all;
    cursor: default;
}

a::before,
a::after {
    content: '';
    transition: inherit;
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background: var(--gray2-color);
}
a::after {
    right: 0;
}
a::before {
    left: 0;
}



@media (min-width: 1400px) {
    :host {
        max-width: 270px;
    }
}
@media (max-width: 1400px) {
    :host {
        max-width: 230px;
    }
}
@media (max-width: 992px) {
    :host {
        max-width: 180px;
    }
}
@media (max-width: 768px) {
    :host {
        max-width: 110px;
        height: 140px;
    }
}