.standart-mobile-header-nav.active-search {
    justify-content: flex-end;
}
.standart-mobile-header-nav.active-search app-hiding-search{
    width: 100%;
}
.standart-mobile-header-nav {
    width: 100%;
}
.standart-mobile-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.standart-mobile-header-nav .logo-box{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.logo-box img{
    max-width: 232px;
    width: 100%;
}