<div class="container">
    <app-page-controll 
    [page]="page+1"
    [max_page]="max_pages"
    (onPrevPage)="prevPage()"
    (onNextPage)="nextPage()"
    ></app-page-controll>
</div>

<app-movies-list-container>
    <app-movie-element [style.margin-right.px]="30" *ngFor="let movie of movies" [movie]="movie"></app-movie-element>
</app-movies-list-container>

<div class="container">
    <app-page-controll 
    [page]="page+1"
    [max_page]="max_pages"
    (onPrevPage)="prevPage()"
    (onNextPage)="nextPage()"
    ></app-page-controll>
</div>