/* For use in src/lib/core/theming/_palette.scss */
$md-greenpallete: (
    50 : #e0f5e2,
    100 : #b3e6b6,
    200 : #80d585,
    300 : #4dc454,
    400 : #26b830,
    500 : #00ab0b,
    600 : #00a40a,
    700 : #009a08,
    800 : #009106,
    900 : #008003,
    A100 : #adffad,
    A200 : #7aff7a,
    A400 : #47ff47,
    A700 : #2eff2e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

