<section>
    <div class="container">
        <div>
            <h2 class="bonus-head" i18n>БОНУСНАЯ ПРОГРАММА <span class="green-text">«FORMAT FAMILY»</span></h2>
            <p  class="bonus-cashback" i18n>Кэшбэк до 20%</p>
        </div>
    </div>
    <div class="container">
        <app-bonus-slider [style.width.%]="100" [bonuses]="bonuses"></app-bonus-slider>
    </div>
    <div class="container">
        <a href="https://format-tv.net/bonus">
            <button color="primary" class="bonus-btn" mat-flat-button>Подробнее о бонусах</button>
        </a>
    </div>
</section>